body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* Color de fondo */
    text-align: center;
    /* Centra el contenido */
}
.contenedor {
    position: relative;
    /* Para posicionar la imagen de manera absoluta con respecto a este contenedor */
    display: inline-block;
    /* Hace que el contenedor solo tenga el tamaño del contenido */
}
.hidden {
    display: none;
}
img {
    max-width: 100%;
    /* Asegura que la imagen no sea más ancha que su contenedor */
    max-height: 100%;
    /* Asegura que la imagen no sea más alta que su contenedor */
}

h1 {
    color: #ffffff;
}
    h3 {
    color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
            width: 600px;
}

li {
    margin: 5px 0;
}